*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
.flex{
    display: flex;
    justify-content: space-between;
}
.bg_gray{
    background-color: #f3f3f3;
}
.bg_white{
    background-color: #fff;
}
.items_center{
    align-items: center;
}
header{
    padding: 13px 0;
}
body{
    font-family: "Arial";
}
.wrapper{
    max-width: 960px;
    margin: 0 auto;
    padding: 0 15px;
}
.logo{
    gap:8px;
    
}
.txt p{
    font-size: 14px;
    color: #5a5a5a;
    font-family: "Arial";
}
.txt h2{
    font-size: 24px;
    text-transform: uppercase;
    color: #39930d;
}
.logo_info{
    gap: 30px;
}
.graphic{
    font-size: 14px;
    color: #5a5a5a;
    font-weight: bold;
    text-align: right;
}
.graphic{
    gap: 10px;
}
.contacts{
    font-size: 14px;
    color: #5a5a5a;
    font-weight: bold;
    text-align: right;
}
.contacts{
    gap: 3px;
}
.under_photo{
    gap :10px;
    display: flex;
    padding-top: 10px;
}
main{
    padding-bottom: 39px;
}
.info{
    padding-top: 31px;
}
.links h2{
    padding: 10px 9px;
    font-size: 18px;
    text-transform: uppercase;
    color: #ffffff;
    min-width: 300px;
    background-color: #39930d;
}
.links a{
    font-size: 14px;
    line-height: 2.1em;
    text-decoration: underline;
    text-transform: uppercase;
    color: #343434;
    padding-bottom: 14px;
}
.links ul {
    display: block;
    padding: 22px;

}
.txt_main h1{
    font-size: 24px;
    color: #39930d;
}
.txt_main{
    max-width: 612px;
    font-size: 14px;
    line-height: 1,5em;
    color: #343434;
}
.txt_main h1{
    margin-bottom: 17px;
}
.txt_main p{
    margin-bottom: 8px;
}
footer{
    background-color: #39930d;
}
footer p{
    font-size: 14px;
    color: #ffffff;
    padding: 12px 13px;
}
footer a{
    padding-right: 11px;
}