h1 ,h2{
    font-size: 24px;
    line-height: 7px;
    font-weight: bold;
    font-family: "Arial";
}

.body{
    background-color: #fff;
    font-family: "Arial";
}

.wrapper{
    background-color: #fff;
}

.links h2{
    
    background-color: #39930d;

}

footer{
    background-color: #39930d;
}

h1{
    text-transform: uppercase;
    color:#39930d;
}

.txt p{
    font-size: 14px;
    line-height: 7px;
    color: #5a5a5a;
}

.logo_info picture ,a{
    font-size: 14px;
    line-height: 7px;
    color: #5a5a5a;
    font-weight: bold;

}

.links h2{
    font-size: 18px;
    line-height: 7px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bold;
}

.links a{
    font-size: 14px;
    line-height: 30px;
    text-decoration: underline;
    text-transform: uppercase;
    color: #343434;
}

.txt_main h2{
    color: #39930d;
}

.txt_main p{    
    font-size: 14px;
    line-height: 21px;
    color: #343434;

}
footer p{
    font-size: 14px;
    line-height: 7px;
    color: #ffffff;

}